#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/* ===== RESET DATE INPUT ===== */
.date-input {
  width: 260px;
  height: 42px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #020617;
  border: 1px solid #334155;
  color: #ffffff;

  /* CỰC KỲ QUAN TRỌNG */
  appearance: none;
  -webkit-appearance: none;
}

/* ===== ICON LỊCH ===== */
.date-input::-webkit-calendar-picker-indicator {
  background-color: #bdaff4;   /* nền trắng */
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;

  /* đổi icon từ trắng → đen */
  filter: invert(0);
}

/* hover cho xịn */
.date-input::-webkit-calendar-picker-indicator:hover {
  background-color: #e5e7eb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
